<!DOCTYPE html> 
<html lang="es"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>TS</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> 
</head> 
<style></style> 
<body background="https://4kwallpapers.com/images/wallpapers/landscape-macbook-3840x2160-10760.jpg"> 
    <center>
        <br>
    <h1>.:TEMPLADO SIMULADO:.</h1> 
        <br>
        <br>
    <label>Cada iteración, no siempre elegirá un vecino</label>
        <br>
    <label>que mejora la solución actual sino que pueda seleccionar una solución peor. </label>
        <br>
    <label>La aceptación o no de una solución depende de una función probabilística.</label>
        <br>
    <label>De esta forma no siempre se tomará el camino de mayor pendiente,</label>
        <br>
    <label>como se hacía en Hill climbing, si no que se añade un elemento </label>
        <br>
    <label>de variación que permite escapar de los máximos locales. </label>
        <br>
        <br>
    <img src="https://cdn-icons-png.flaticon.com/512/2554/2554978.png" width="300" height="300"/>
    <form action="{{ url_for('resultado') }}"> 
    <input type="submit" class="btn btn-danger"  value="Enviar">
    </form>
    </center>
</body> 
</html>